persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listpersons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="lastname"/>
                            <xs:element type="xs:string" name="firstname"/>
                            <xs:element type="xs:string" name="birthday"/>
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="street"/>
                                        <xs:element type="xs:byte" name="streetno"/>
                                        <xs:element type="xs:short" name="zipcode"/>
                                        <xs:element type="xs:string" name="town"/>
                                        <xs:element type="xs:string" name="country"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>