xml-resources/jaxb/Persons/persons.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://java2xml.gelion.ch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listpersons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="lastname"/>
                            <xs:element type="xs:string" name="firstname"/>
                            <xs:element type="xs:string" name="birthday"/>
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="street"/>
                                        <xs:element type="xs:string" name="streetno"/>
                                        <xs:element type="xs:int" name="zipcode"/>
                                        <xs:element type="xs:string" name="town"/>
                                        <xs:element type="xs:string" name="country"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
